---
import GitHub from "./icons/GitHub.astro";
import Eye from "./icons/Eye.astro";
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import { content } from "../i18n/ui";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const PROJECTS = content[lang].projects;
---

<section class="mt-20 px-4 mx-auto max-w-5xl lg:mt-40" id="projects">
  <div>
    <h1 class="text-balance text-xl font-bold tracking-tight sm:text-3xl">
      {t("projects.title")}
    </h1>
  </div>
  {
    PROJECTS.items.map((project) => (
      <div class="flex flex-col lg:grid lg:grid-cols-2 lg:gap-4 my-10">
        <div class="w-full h-[200px] max-h-[280px] lg:h-full lg:max-w-[400px] rounded-lg bg-blue-600" />
        <div>
          <h1 class="mt-5 text-xl font-semibold mb-5 lg:mt-0">
            {project.title}
          </h1>
          <p class="text-sm md:text-base text-pretty">{project.description}</p>
          <div class="mt-5">
            <div class="flex flex-wrap gap-2 md:gap-4">
              {project.stack.map((item) => (
                <div class="flex gap-2 w-fit bg-gradient-to-r from-[#0e7490] via-[#3b82f6] to-[#4f46e5] rounded-lg px-1 md:px-2 py-1 items-center">
                  <item.icon />
                  <p class="text-sm">{item.title}</p>
                </div>
              ))}
            </div>
          </div>
          <div class="flex gap-2 xl:gap-4 mt-5 lg:mt-7">
            <a
              class="p-2 flex gap-2 border w-fit rounded-lg"
              href={project.codeReview}
              target="_blank"
              rel="noopener"
            >
              <GitHub />
              {t("projects.codeReview")}
            </a>
            <a
              class="p-2 flex gap-2 border w-fit rounded-lg"
              href={project.preview}
              target="_blank"
              rel="noopener"
            >
              <Eye />
              {t("projects.preview")}
            </a>
          </div>
        </div>
      </div>
    ))
  }
</section>
